{% extends 'pages/index.html' %}


{% block content %}
 <!-- About-->
 <section class="about-section text-center bg-light" id="about">
    <div class="about-container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-dark mb-4">OUR MISSION</h2>
                <p class="text-dark-50">
                    The weight of losing a family is unimaginable for a child. At Children of Tomorrow Orphanage, we understand
                    this profound loss and dedicate ourselves to being a beacon of hope in these young lives. Our
                    mission is clear: to provide orphaned and vulnerable children with the love, support, and resources
                    they need to not just survive, but truly flourish.
                </p>

                <h2 class="text-dark mb-4">OUR VISION</h2>
                <p class="text-dark-50">
                   We envision a world where every child, regardless of their circumstances, feels cherished
                   and empowered. We believe in fostering a family-centered environment, a far cry from the
                   cold, institutional image often associated with orphanages. Here, children are nurtured
                   and respected as individuals, with their own unique dreams and aspirations.<br>

                   Our approach extends far beyond simply providing basic necessities. We take a holistic
                   view of care, ensuring children have the tools they need to thrive in all aspects of life
                </p>
            </div>
        </div>
{#        <img class="img-fluid" src="static/images/about.png" alt="about.png" />#}
    </div>
</section>
{% endblock %}
