{% extends 'pages/index.html' %}

{% block content %}
<div class="login-form">
    <form action="{% url 'add-guardian' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">Add Orphan</h2>
        <div class="form-group">
            {{form.name}}
        </div>
        <div class="form-group">
            {{form.email}}
        </div>
        <div class="form-group">
            {{form.address}}
        </div>
        <div class="form-group">
            {{form.phone}}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Add</button>
            <a href="{% url 'AdminPanel' %}" class="btn btn-danger btn-block">back</a>
        </div>
    </form>
</div>
{% endblock %}